$dk-primary: #84A98C;
$dk-accent: #B3562A;
$dk-dark: #12130F;
$dk-light: #2B2B2B;
$dk-background: #1A1C17;
$lt-primary: #4D7C0F;
$lt-accent: #C2683B;
$lt-dark: #3C2F2F;
$lt-light: #F3EDE4;
$lt-background: #FAF8F3;
$success: #88B04B;
$error: #C75C5C;
$info: #709BBF;
$warning: #D79B3D;

:export {
    darkPrimary: $dk-primary;
    darkAccent: $dk-accent;
    darkDark: $dk-dark;
    darkLight: $dk-light;
    darkBackground: $dk-background;
    lightPrimary: $lt-primary;
    lightAccent: $lt-accent;
    lightDark: $lt-dark;
    lightLight: $lt-light;
    lightBackground: $lt-background;
    error: $error;
    info: $info;
    warning: $warning;
    success: $success;
}